.signinFormGroup {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 80%;
}

.signinFormGroup div {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 6%;
}

.signinFormGroup div:first-of-type {
  margin-top: 2%;
}

label {
  font-size: 1.5rem;
}

.signinFormGroup div input {
  border-style: inset;
  border-width: 2px;
  border-color: gray;
  background-color: lightgrey;
  color: #111;
  font-size: 2.25rem;
}
